.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #c0bfbc;
}

.bg-l1-grey,
.hvr-bg-white:hover {
  background-color: #f6f5f4;
}

.bg-l2-grey,
.hvr-bg-l1-grey:hover {
  background-color: #deddda;
}

.bg-d1-grey {
  background-color: #d2d2d2;
}

.bg-blue {
  background-color: #3584e4;
}
