main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  padding: 22vh 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.headerbar {
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

#page-switcher {
  display: flex;
  max-width: 54%;
  justify-content: space-between;
}

#set-book-data-act-dialog {
  position: absolute;
  top: 30vh;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  align-content: space-between;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.border-bottom {
  border-bottom: 2px solid #c0bfbc;
}

.item-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
