.padd {
  padding: 8px;
}

.button {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-style: none;
}

.rounded {
  border-radius: 8px;
}

.hidden {
  display: none;
}

.headerbar-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.w-88 {
  width: 88%;
}

.w-64 {
  width: 64%;
}

.shadow {
  box-shadow: 0px 2px 10px #00000044;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.text-input {
  width: 60%;
  border: 2px solid #d2d2d2;
  transition: 0.6s;
}

.text-input:focus {
  border: 2px solid #3584e4;
}

.input-label {
  width: 40%;
  text-align: right;
}

.link {
  text-decoration: none;
  text-align: center;
  color: #c0bfbc;
}
